[submodule "themes/hugo-creative-theme"]
	path = themes/hugo-creative-theme
	url = https://github.com/digitalcraftsman/hugo-creative-theme.git
[submodule "hugo-creative-theme"]
	path = hugo-creative-theme
	url = https://github.com/digitalcraftsman/hugo-creative-theme.git
